.locard {
  width: 20em;
  height: 28em;
  display: flex;
  padding: 2em;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  /* filter: url(#wavy2); */
}

.locard p {
  color: black;
  font-size: 3rem;
  align-items: center;
} 

.lofilter {
  display: none;
  position: absolute;
}

#email,
#password {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
