@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* Define custom properties */
:root {
  --powerOff: #fa4646;
  --powerOn: #1bcf60;
}

.center {
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 250px; /* Adjust top margin as needed */
  margin: auto;
  max-width: 350px;
  max-height: 390px;
}
@media screen and (max-width: 568px) {
  .center {
    top: 220px; /* Adjust top margin as needed */
  }
}

.screenBox {
  position: relative;
  width: 300px;
  height: 270px;
  background-color: #e3e3e3;
  border-radius: 1%;
}

p {
  /* position: absolute; */
  top: 70px;
  left: 100px;
  color: white;
  font-family: "VT323";
}

.behind {
  /* position: absolute; */
  width: 316px;
  height: 200px;
  top: 10px;
  left: 16.5px;
  background-color: #7a7a7a;
  border-radius: 2% / 50%;
}

.frame {
  position: absolute;
  width: 284px;
  height: 254px;
  background-color: #e3e3e3;
  left: 6px;
  top: 6px;
  border: 2px #888888 solid;
  border-radius: 1%;
}

.screenBox2 {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #999999;
  border-bottom: 2px #888888 solid;
}

.screenBox3 {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 268px;
  height: 198px;
  background-color: #7a7a7a;
  border-radius: 30% / 2%;
}

.screenEffect {
  background: repeating-linear-gradient(
    to bottom,
    #171717,
    #171717 1px,
    #121212 1px,
    #121212 2px
  );
}

.screen {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 256px;
  height: 186px;
  background-size: cover;
  background-position: center;
  border-radius: 50% / 8%;
  box-shadow: inset 0px 10px 6px 0px #111111;
  cursor: text;
  transition: transform 0.5s;
  overflow: hidden;
}

.screen:hover {
  transform: scale(1.5);

  /* Increase the scale on hover to zoom in */
  z-index: 4;
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 0px #111111;
}

.bottomFrame {
  position: absolute;
  background-color: #e3e3e3;
  width: 100%;
  height: 32px;
  bottom: 0px;
  border-top: 2px #888888 solid;
}

.fan {
  position: absolute;
  background: repeating-linear-gradient(
    to right,
    white,
    white 3px,
    #333333 3px,
    #333333 6px
  );
  width: 72px;
  height: 100%;
}

.logo {
  position: absolute;
  top: 6px;
  left: 130px;
  width: 50px;
}

.screenBox .powerButton {
  position: absolute;
  top: 5px;
  left: 250px;
  width: 20px;
  height: 20px;
  background-color: #999999;
  border: 1px #7a7a7a solid;
  cursor: pointer;
}

.powerIcon {
  position: absolute;
  border: 1px #555555 solid;
  top: 4.5px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.screenBox .powerLight {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 13px;
  left: 230px;
  border-radius: 50%;
}
.lightOn {
  background-color: var(--powerOn);
  box-shadow: 0px 1px 5px 0px var(--powerOn);
}

.lightOff {
  background-color: var(--powerOn);
  box-shadow: 0px 1px 5px 0px var(--powerOff);
}

.screenFoot {
  position: relative;
  width: 275px;
  height: 15px;
  background-color: #7a7a7a;
  box-shadow: inset 0px 10px 6px 0px #222222;
}

.computer {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #e3e3e3;
  border-radius: 3px;
}

.computerFrame {
  /* position: absolute; */
  left: 6px;
  top: 6px;
  width: 334px;
  height: 64px;
  border: 2px #888888 solid;
  border-radius: 3px;
}

.computerFan1,
.computerFan2 {
  position: absolute;
  background: repeating-linear-gradient(
    to right,
    white,
    white 3px,
    #333333 3px,
    #333333 6px
  );
  height: 21.5px;
  width: 80px;
  top: 7px;
  left: 5px;
}

.computerFan2 {
  top: 35.5px;
}

div[class^="screw"] {
  /* position: absolute; */
  width: 8px;
  height: 8px;
  background-color: #222222;
  border-radius: 50%;
}

.screw1 {
  left: 95px;
  top: 12px;
}

.screw2 {
  left: 95px;
  top: 42px;
}

.computerFrame2 {
  position: absolute;
  width: 130px;
  height: 46px;
  background-color: #999999;
  border: 2px #888888 solid;
  left: 115px;
  top: 7px;
  border-radius: 3px;
}

.floppy {
  position: absolute;
  width: 124px;
  height: 25px;
  left: 3px;
  top: 3px;
  background-color: #222222;
}

.fingerGrip {
  position: absolute;
  width: 30px;
  height: 23px;
  background-color: #0d0d0d;
  top: 1px;
  left: 47px;
  border-radius: 3px;
}

.slot {
  position: absolute;
  width: 95%;
  height: 5px;
  left: 2.5%;
  top: 9px;
  border-radius: 3px;
  background-color: black;
}

div[class^="socket"] {
  position: absolute;
  width: 60.5px;
  height: 12px;
  background-color: black;
}

.socket1 {
  top: 31px;
  left: 3px;
}

.socket2 {
  top: 31px;
  left: 66.5px;
}

.screw3 {
  left: 265px;
  top: 12px;
}

.screw4 {
  left: 288px;
  top: 12px;
}

.screw5 {
  left: 313px;
  top: 12px;
}

.computer .powerButton {
  position: absolute;
  width: 35px;
  height: 26px;
  left: 265px;
  background-color: #333333;
  top: 30px;
}

.buttonSlide {
  position: absolute;
  width: 90%;
  height: 12px;
  left: 5%;
  top: 2px;
  background-color: #111111;
  border-radius: 1px;
}

.computerButton {
  position: absolute;
  width: 45%;
  height: 8px;
  top: 2px;
  background-color: var(
    --powerOff
  ); /* Use var() function to reference the CSS variable */
  cursor: pointer;
}

.computerButtonOff {
  left: 48%;
}

.computerButtonOn {
  left: 48%;
}

.offIndicator {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 16px;
  left: 5px;
  border-radius: 50%;
  border: 1px white solid;
}

.onIndicator {
  position: absolute;
  width: 0px;
  height: 6px;
  top: 16px;
  left: 28px;
  border-right: 1px white solid;
}

.computer .powerLight {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 315px;
  top: 38px;
}

.output {
  position: absolute;
  width: 95%;
  height: 80%;
  top: 20px;
  left: 10px;
  color: #33ff66;
  font-size: 10px;
  display: none;
  font-family: "VT323";
  overflow: auto;
}

@keyframes popup {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.popup {
  position: absolute;
  width: 80px;
  height: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border: 1px #33ff66 solid;
  border-top: 5px #33ff66 solid;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  display: block;
  animation-name: popup;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

::-webkit-scrollbar {
  display: none;
}

.terminalInput {
  background: none;
  outline: none;
  border: none;
  height: 10px;
  font-family: "VT323";
  color: #33ff66;
  width: 60%;
}
.custom-class {
  font: 400 1em/1.5 "Neuton";
  background: #090d00;
  color: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5;
}
@media screen and (max-width: 768px) {
  .custom-class {
    font: 400 0.8em/1.5 "Neuton";
  }
}
@media screen and (max-width: 568px) {
  .custom-class {
    font: 400 0.8em/1.2 "Neuton";
  }
}

@media screen and (max-width: 568px) {
  .custom-class {
    font: 400 0.63em/1.5 "Neuton";
  }
}

@media screen and (max-width: 430px) {
  .custom-class {
    font: 400 0.43em/1.5 "Neuton";
  }
}

.avishkar_title {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  padding: 1.5em 0em;
  left: 50%;

  /* width: 100%; */
  /* background-color: green; */
  margin: 0 0 0 0em;
}

.avishkar_title span {
  font: 700 5em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

  /* Clip Background Image */
  background: url(http://static.colourlovers.com/uploads/images/4/44/44982.pic.jpg)
    repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */
  color: transparent;
  animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

/* Animate Background Image */
@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


