@import url("https://db.onlinewebfonts.com/c/6b63cc27b0fdfa2ee93c6eaf0f7572d9?family=Rumoura+TexturesPERSONAL+USE");

.rumoura-font {
  font-family: "Rumoura TexturesPERSONAL USE";
  font-weight: 900;
  font-style: normal;
}

:root {
  --card-height: 20vh;
  --card-width: calc(var(--card-height) / 1.1);
}

@media screen and (max-width: 1024px) {
  :root {
    --card-height: 30vh;
    --card-width: calc(var(--card-height) / 0.75);
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --card-height: 30vh;
    --card-width: calc(var(--card-height) / 0.75);
  }
}

.card1 {
  width: var(--card-width);
  height: var(--card-height);
  transform: translateX(0%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.9;
}

/* .card {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: translateX(0%);
  
} */

.cover-image {
  width: 100%;
  height: 100%;
  margin-top: 20px;

  object-fit: cover;
  border-radius: 10px;
  border: 2px solid black;
  opacity: 1;
}

.wrapper-card {
  transition: all 0.5s;
  width: 100%;
  z-index: 1;
  border-radius: 10px;
}

.card1:hover .wrapper-card {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  opacity: 1;
}

.title {
  width: 100%;
  transition: transform 0.5s;
}
.card1:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
  border-radius: 10%;
}

.card:hover .character {
  opacity: 0.9;
  transform: translate3d(0%, -70%, 100px);
}
