@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Honk&family=Protest+Strike&family=Yeseva+One&display=swap");
@import url("https://db.onlinewebfonts.com/c/6b63cc27b0fdfa2ee93c6eaf0f7572d9?family=Rumoura+TexturesPERSONAL+USE");
.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rumoura-font {
  font-family: "Rumoura TexturesPERSONAL USE";
  font-weight: 400;
  font-style: normal;
}

.record {
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background: radial-gradient(
      white 2%,
      #c00000 2%,
      #c00000 22%,
      black 22%,
      black 27%,
      transparent 27%,
      transparent 37%,
      black 37%,
      black 37.5%,
      transparent 37.5%,
      transparent 49%,
      black 49%,
      black 49.5%,
      transparent 49.5%,
      transparent 55%,
      black 56%,
      black 49.5%,
      transparent 49.5%,
      transparent 69%,
      black 69%
    ),
    linear-gradient(35deg, black 35%, transparent 68%),
    linear-gradient(50deg, #e3e3e3 50%, transparent 60%), black;
  animation: rotation 3s infinite linear;
}

.record span {
  display: block;
  padding: 110px;
  line-height: 42px;
  text-align: center;
  font-family: sans-serif;
  color: #ddd;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
