@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Shade&family=Calistoga&family=Croissant+One&family=Honk&family=Kelly+Slab&family=Protest+Strike&family=Work+Sans:ital,wght@1,300&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Calistoga&family=Honk&family=Kelly+Slab&family=Protest+Strike&family=Yeseva+One&display=swap");
/* 
* {
  box-sizing: border-box;
} */

/* body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
} */

.protest-revolution-regular {
  /* font-family: "Kode Mono", monospace; */
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
@import url("https://db.onlinewebfonts.com/c/6b63cc27b0fdfa2ee93c6eaf0f7572d9?family=Rumoura+TexturesPERSONAL+USE");

.rumoura-font {
  font-family: "Rumoura TexturesPERSONAL USE";
}
/* #app {
  padding: 0 20px;
  width: 100%;
} */

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
  height: 1500px; /* Example height for the scrollable container */
  overflow-y: auto; /* Enable vertical scrolling */
}

.timeline-container::after {
  background-color: #3A3416CC;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  top: 0; /* Align to the top of the container */
  bottom: 0; /* Stretch to the bottom of the container */
  width: 5px;
  height: 100%; /* Stretch the line to match the height of the container */
  box-shadow: 2px 12px 12px rgba(234, 228, 221, 0.945);
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;

  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  box-shadow: 5px 10px 5px rgba(0,10,10, 0.8);
  border-radius: 5px;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 100%;
  text-align: right;
  height: auto;
}

.timeline-item-content::after {
  content: " ";
  background-color: #1c1a1a;
  box-shadow: 5px 0px 12px rgba(30, 29, 29, 0.8);
  position: absolute;
  right: -20.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 25px;
  height: 25px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -20.5px;
  box-shadow: 5px 10px 5px rgba(0,0,10px, 0.8);

}

.timeline-item-content .tag {
  color: #1c1a1a;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 10%;
  text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
  border-radius: 10%;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 24px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

.timeline-item-content a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.timeline-item-content a::after {
  content: " ►";
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #0c0808;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 70px;
  /* left: 0px; */
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

@media only screen and (max-width: 1023px) {
  .timeline-item-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-content .tag {
    width: calc(100% - 10px);
    text-align: center;
    border-radius: 10%;
  }

  .timeline-item-content time {
    margin-top: 20px;
  }

  .timeline-item-content a {
    text-decoration: underline;
  }

  .timeline-item-content a::after {
    display: none;
  }
}


.fool {
  width: 85px;
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  animation: loading-rotate 3s linear infinite;
}

.fools {
  width: 40px;
  height: 40px;
  display: block;
  box-sizing: border-box;
}

.fools:nth-of-type(1) {
  background-color: #50DE68;
  border-radius: 20px 20px 0 20px;
  border-left: #ffffff 4px solid;
  border-top: #f7f7f7 4px solid;
}

.fools:nth-of-type(2) {
  background-color: rgb(32, 80, 46);
  border-radius: 20px 20px 20px 0;
  border-right: #ffffff 4px solid;
  border-top: #f7f7f7 4px solid;
}

.fools:nth-of-type(3) {
  background-color: rgb(0, 255, 55);
  border-radius: 20px 0 20px 20px;
  border-left: #ffffff 4px solid;
  border-bottom: #f7f7f7 4px solid;
}

.fools:nth-of-type(4) {
  background-color: rgb(32, 182, 32);
  border-radius: 0 20px 20px 20px;
  border-right: #ffffff 4px solid;
  border-bottom: #f7f7f7 4px solid;
}

@keyframes loading-rotate {
  0% {
    transform: scale(1) rotate(0);
  }

  20% {
    transform: scale(1) rotate(72deg);
  }

  40% {
    transform: scale(0.5) rotate(144deg);
  }

  60% {
    transform: scale(0.5) rotate(216deg);
  }

  80% {
    transform: scale(1) rotate(288deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

/* html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #f0f0f0;
} */
/* .bike {
  position: relative;
  left: 50%;
  top: 50%;
  width: 590px;
  height: 430px;
  transform: translate(-50%, -50%);
}

.bike > .wheel {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 10px solid #222;
  list-style: none;
  animation: 2s wheelrotate linear infinite forwards;
}

@keyframes wheelrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bike > .wheel:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 10px solid #bbb;
}

.bike > .wheel:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #222;
}

.bike > .r-wheel {
  right: 0;
}

.bike > .wheel > li {
  position: absolute;
  width: 180px;
  left: 8px;
  height: 0;
  border: 2px solid #bbb;
  top: 50%;
}

.bike > .wheel > .stick1 {
  transform: rotate(15deg);
}

.bike > .wheel > .stick2 {
  transform: rotate(30deg);
}

.bike > .wheel > .stick3 {
  transform: rotate(45deg);
}

.bike > .wheel > .stick4 {
  transform: rotate(60deg);
}

.bike > .wheel > .stick5 {
  transform: rotate(75deg);
}

.bike > .wheel > .stick6 {
  transform: rotate(90deg);
}

.bike > .wheel > .stick7 {
  transform: rotate(105deg);
}

.bike > .wheel > .stick8 {
  transform: rotate(120deg);
}

.bike > .wheel > .stick9 {
  transform: rotate(135deg);
}

.bike > .wheel > .stick10 {
  transform: rotate(150deg);
}

.bike > .wheel > .stick11 {
  transform: rotate(165deg);
}

.bike > .wheel > .stick12 {
  transform: rotate(0deg);
}

.bike > .frame {
  position: absolute;
  border-radius: 10px;
  height: 0;
  border: 5px solid #222;
  transform-origin: 0% 50%;
}

.bike > .frame1 {
  width: 170px;
  bottom: 105px;
  left: 100px;
}

.bike > .frame2 {
  width: 210px;
  bottom: 100px;
  left: 275px;
  transform: rotate(-110deg);
}

.bike > .frame3 {
  width: 170px;
  bottom: 100px;
  left: 105px;
  transform: rotate(-45deg);
}

.bike > .frame4 {
  width: 240px;
  bottom: 100px;
  left: 270px;
  transform: rotate(-45deg);
}

.bike > .frame5 {
  width: 215px;
  bottom: 222px;
  left: 230px;
  transform: rotate(-13.5deg);
}

.bike > .frame6 {
  width: 210px;
  bottom: 100px;
  left: 480px;
  transform: rotate(-102deg);
}

.bike > .cushion {
  position: absolute;
  bottom: 305px;
  left: 170px;
  width: 60px;
  border-radius: 10px 50px;
  height: 0;
  border: 5px solid #222;
}

.bike > .cushion:before {
  content: "";
  position: absolute;
  left: -14px;
  top: -10px;
  width: 30px;
  height: 15px;
  border-radius: 10px 15px;
  background: #222;
}

.bike > .head {
  position: absolute;
  bottom: 310px;
  left: 430px;
  width: 40px;
  height: 0;
  border: 5px solid #222;
  border-radius: 10px;
}

.bike > .head:after {
  content: "";
  position: absolute;
  width: 5px;
  top: 64px;
  left: 26px;
  height: 0;
  border: 5px solid #222;
  border-radius: 10px;
}

.bike > .head > .handler {
  position: absolute;
  left: 33px;
  top: -4px;
  width: 50px;
  height: 100px;
  overflow: hidden;
  transform: rotate(5deg);
}

.bike > .head > .handler:after {
  content: "";
  position: absolute;
  top: 0;
  left: -34px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 10px solid #222;
}

.bike > .wheel-axle,
.bike > .axle {
  position: absolute;
  bottom: 75px;
  left: 240px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #bbb;
}

.bike > .axle {
  animation: 3s axlerotate linear infinite forwards;
}

@keyframes axlerotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bike > .wheel-axle:after,
.bike > .axle:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #bbb;
}

.bike > .axle > .stick {
  position: absolute;
  height: 0;
  border-radius: 10px;
  border: 3px solid #bbb;
  transform-origin: 0 50%;
}

.bike > .axle > .stick1 {
  width: 100px;
  top: 27px;
  left: -23px;
}

.bike > .axle > .stick2 {
  width: 60px;
  bottom: -7px;
  left: 30px;
  transform: rotate(-90deg);
}

.bike > .axle > .pedal {
  position: absolute;
  height: 0;
  border-radius: 10px;
  border: 3px solid #bbb;
  transform-origin: 0 50%;
  animation: 3s pedalrotate linear infinite forwards;
}

.bike > .axle > .pedal {
  position: absolute;
  height: 0;
  border-radius: 10px;
  border: 3px solid #bbb;
  transform-origin: 50% 50%;
  width: 30px;
  transform: rotate(90deg);
}

@keyframes pedalrotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bike > .axle > .pedal1 {
  left: -39px;
  top: 26px;
}

.bike > .axle > .pedal2 {
  right: -39px;
  top: 27px;
}

.bike > .wheel-axle {
  left: 75px;
}

.bike > .wheel-axle > .chain {
  position: absolute;
  width: 160px;
  height: 0;
  border-radius: 10px;
  border: 3px solid #bbb;
  left: 30px;
}

.bike > .wheel-axle > .chain1 {
  top: -5px;
}

.bike > .wheel-axle > .chain2 {
  top: 60px;
} */
