@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Honk&family=Protest+Strike&family=Yeseva+One&display=swap");

@import url("https://db.onlinewebfonts.com/c/6b63cc27b0fdfa2ee93c6eaf0f7572d9?family=Rumoura+TexturesPERSONAL+USE");
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
.rumoura-font {
  font-family: "Rumoura TexturesPERSONAL USE";
  font-weight: 900;
  font-style: normal;
}
.navbar {
  position: fixed;
  top: initial;
  z-index: 1000; /* Adjust z-index if needed */
  /* Your other navbar styles */
}

.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}
