@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
/* 
.nav-links {
  display: flex;
  flex-direction: row;
 
} */

.nav-links li {
  font-family: "Yeseva One", serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
  display: block;
  margin: 4px auto; /* Add margin between list items and center them horizontally */
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Glassy effect background color */
  backdrop-filter: blur(5px); /* Apply the blur effect */
  border-radius: 10px; /* Add rounded corners for a glassy effect */
  padding: 8px; /* Minimal padding */
  width: fit-content;
}

.nav-wrapper {
  max-width: 2440px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
}

.avishkar-navbar {
  width: auto;
  height: 50px;
  padding: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avishkar-navbar .avishkar-logo {
  color: rgba(82, 2, 2, 0.647);
  font-size: 28px;
  font-weight: 600;
  position: absolute;

  left: 25px;
  transition: all 0.5s ease;
}

.avishkar-navbar .nav-links {
  list-style: none;
  display: flex;

  color: rgb(236, 221, 221);
  cursor: pointer;
  margin-left: 150px;
  flex: 1;
}

.avishkar-navbar .nav-links li {
  margin: 0 15px;
  font-size: 20px;
  font-weight: 400;
  flex: 1;
}

.avishkar-navbar .avishkar-toggle-icon {
  display: none;
}

@media (max-width: 850px) {
  .avishkar-navbar {
    position: relative;
    transition: 0.5s all ease-in-out;
  }

  .avishkar-navbar.expanded {
    height: 100vh;
    position: absolute;
    z-index: 4;
    overflow-x: hidden;
  }

  .avishkar-navbar.expanded .nav-links {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    margin-left: 0px;
  }
  .avishkar-navbar .avishkar-avishkar-logo {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
  }

  .avishkar-navbar.expanded .avishkar-logo {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #f4debe;
  }
  .avishkar-navbar.expanded .avishkar-logo:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
  }

  .avishkar-navbar.expanded .nav-links li {
    margin: 15px 0;
    font-size: 24px;
    color: #f4debe;
  }
  .avishkar-navbar.expanded .nav-links li:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
  }

  .avishkar-navbar .avishkar-toggle-icon {
    display: block;
    color: #f4debe;

    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 30px;
    transition: 0.1s all ease-in-out;
  }
  .avishkar-navbar .avishkar-toggle-icon:hover {
    color: rgb(40, 30, 0);
  }

  .avishkar-navbar.expanded .avishkar-toggle-icon {
    top: 13%;
    color: #f4debe;
    left: 49%;
    font-size: 24px;
    transition: 0.5s all ease-in-out;
  }
  .avishkar-navbar.expanded .avishkar-toggle-icon:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
  }

  .avishkar-navbar .nav-links {
    position: relative;
    top: -300px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .avishkar-navbar.nav-links li {
    margin: 15px 0;
    font-size: 24px;
  }
}
.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 23, "SHLN" 5.4;
}
